<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dteel.manage.dao.mapper.DmsAnswerMapper" >
        <resultMap id="BaseResultMap" type="com.dteel.manage.modle.entity.DmsAnswer" >
        <id column="id" property="id"  />
        <result column="questionId" property="questionId"  />
        <result column="code" property="code"  />
        <result column="text" property="text"  />
        <result column="status" property="status"  />
        <result column="add_time" property="addTime"></result>
        <result column="add_user" property="addUser"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="update_user" property="updateUser"></result>
    </resultMap>

    <sql id="Base_Column_List" >
        dms_answer.id, dms_answer.question_id,dms_answer.code,
        dms_answer.text,
        dms_answer.status,
        dms_answer.add_time,dms_answer.add_user,dms_answer.update_time,dms_answer.update_user
    </sql>
    <sql id="where-all-condition">
        <if test="f.questionId != null and f.questionId!= ''"  >
            and dms_answer.question_id = #{questionId}
        </if>
        <if test="f.code != null" >
            and code.`type` = #{f.code}
        </if>
        <if test="f.id != null" >
            and dms_answer.id = #{f.id}
        </if>
        <if test="f.status != null  and f.status!= ''" >
            and  dms_answer.status = #{f.status}
        </if>
        <if test="f.addTime != null">
            AND dms_answer.add_time = #{f.addTime}
        </if>
        <if test="f.addUser != null">
            AND dms_answer.add_user = #{f.addUser}
        </if>
        <if test="f.updateTime != null">
            AND dms_answer.update_time = #{f.updateTime}
        </if>
        <if test="f.updateUser != null">
            AND dms_answer.update_user = #{f.updateUser}
        </if>
    </sql>

    <select id="queryByQuestion" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List"/>
        from dms_answer where 1=1
        and question_id = #{questionId}
        order by add_time desc
    </select>

    <select id="queryPage" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List"/>
        from dms_answer where 1=1
        <include refid="where-all-condition"/>
        order by add_time desc
        limit #{startPage},${pageRows}
    </select>

    <select id="queryPageCount" resultType="java.lang.Integer">
        select  count(1)
        from dms_answer where 1=1
        <include refid = "where-all-condition" />
    </select>

    <select id="queryById" resultType="com.dteel.manage.modle.entity.DmsAnswer">
        select  <include refid="Base_Column_List"/>
        from dms_answer
         where dms_answer.id = #{id}
    </select>

    <insert id="insert" parameterType="com.dteel.manage.modle.entity.DmsAnswer" >
    insert into dms_answer (
          id,
          question_id,
          code,
          text,
          status,
          add_time,
          add_user,
          update_time,
          update_user
        )
        VALUES(
          #{id},
          #{questionId},
          #{code},
          #{text},
          1,
          #{addTime},
          #{addUser},
          #{updateTime},
          #{updateUser}
        )
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dteel.manage.modle.entity.DmsAnswer" >
        update dms_answer
        <set >
            id = #{id}
            <if test="questionId != null" >
                ,question_id = #{questionId}
            </if>
            <if test="text != null" >
                ,text = #{text}
            </if>
            <if test="code != null" >
                ,question = #{question}
            </if>
            <if test="status != null" >
                ,status = #{status}
            </if>
            <if test="addTime != null" >
                ,add_time = #{addTime}
            </if>
            <if test="addUser != null">
                , add_user = #{addUser}
            </if>
            <if test="f.updateTime != null">
                , update_time = #{updateTime}
            </if>
            <if test="updateUser != null">
                , update_user = #{updateUser}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from dms_answer where id = #{id}
    </delete>
    <delete id="deleteByQuestionId">
        delete from dms_answer where question_id = #{questionId}
    </delete>
</mapper>