<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.visionbuilding.manage.dao.mapper.DmsBusinessMapper">
  <resultMap id="BaseResultMap" type="com.visionbuilding.manage.modle.entity.DmsBusiness">
    <id column="id" property="id" />
    <result column="business" property="business" />
    <result column="pinyin" property="pinyin" />
    <result column="mobile" property="mobile" />
  </resultMap>
  <sql id="Base_Column_List">
    id, business, pinyin, mobile
  </sql>
  <select id="queryPage" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List"/>
    from dms_business where 1=1
    <include refid="where-all-condition"/>
    order by id desc
    limit #{startPage},${pageRows}
  </select>

  <select id="queryPageCount" resultType="java.lang.Integer">
    select  count(1)
    from dms_business where 1=1
    <include refid = "where-all-condition" />
  </select>

  <sql id="where-all-condition">
    <if test="f.business != null  and f.business!= ''" >
      and  business like concat(concat('%', #{f.business}),'%')
    </if>
    <if test="f.pinyin != null and f.pinyin!= ''"  >
      and pinyin = #{f.pinyin}
    </if>
    <if test="f.mobile != null and f.mobile!= ''"  >
      and mobile = #{f.mobile}
    </if>

  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.visionbuilding.manage.modle.entity.DmsBusiness">
    select 
    <include refid="Base_Column_List" />
    from dms_business
    where id = #{id}
  </select>
    <select id="getAll" resultType="com.visionbuilding.manage.modle.entity.DmsBusiness">
      select  <include refid="Base_Column_List"/>
      from dms_business where 1=1
      order by id desc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dms_business
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.visionbuilding.manage.modle.entity.DmsBusiness">
    insert into dms_business (id, business, pinyin, 
      mobile)
    values (#{id}, #{business}, #{pinyin}, 
      #{mobile})
  </insert>
  <insert id="insertSelective" parameterType="com.visionbuilding.manage.modle.entity.DmsBusiness">
    insert into dms_business
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="business != null">
        business,
      </if>
      <if test="pinyin != null">
        pinyin,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="business != null">
        #{business},
      </if>
      <if test="pinyin != null">
        #{pinyin},
      </if>
      <if test="mobile != null">
        #{mobile},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.visionbuilding.manage.modle.entity.DmsBusiness">
    update dms_business
    <set>
      <if test="business != null">
        business = #{business},
      </if>
      <if test="pinyin != null">
        pinyin = #{pinyin},
      </if>
      <if test="mobile != null">
        mobile = #{mobile},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.visionbuilding.manage.modle.entity.DmsBusiness">
    update dms_business
    set business = #{business},
      pinyin = #{pinyin},
      mobile = #{mobile}
    where id = #{id}
  </update>

</mapper>