<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.visionbuilding.manage.dao.mapper.DmsChildProjectMapper" >
  <resultMap id="BaseResultMap" type="com.visionbuilding.manage.modle.entity.DmsChildProject" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="project_type_code" property="projectTypeCode" jdbcType="VARCHAR" />
    <result column="project_type_name" property="projectTypeName" jdbcType="VARCHAR" />
    <result column="acquisition_date" property="acquisitionDate" jdbcType="TIMESTAMP" />
    <result column="construction_area" property="constructionArea" jdbcType="BIGINT" />
    <result column="initial_delivery_date" property="initialDeliveryDate" jdbcType="TIMESTAMP" />
    <result column="cost_price" property="costPrice" jdbcType="BIGINT" />
    <result column="total_cost" property="totalCost" jdbcType="BIGINT" />
    <result column="drafting_unit" property="draftingUnit" jdbcType="VARCHAR" />
    <result column="designer_commission" property="designerCommission" jdbcType="BIGINT" />
    <result column="designer_commission_price" property="designerCommissionPrice" jdbcType="BIGINT" />
    <result column="confirm_status" property="confirmStatus" jdbcType="TINYINT" />
    <result column="confirm_time" property="confirmTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="add_user" property="addUser" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="department" property="department" jdbcType="BIGINT" />
    <result column="rendering_num" property="renderingNum" jdbcType="BIGINT" />
    <result column="total_sales_price" property="totalSalesPrice" jdbcType="BIGINT" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, parent_id, project_type_code, project_type_name, acquisition_date, construction_area, 
    initial_delivery_date, cost_price, total_cost, total_sales_price, drafting_unit, designer_commission,
    designer_commission_price, confirm_status, confirm_time, remarks, status, add_user, 
    add_time, update_user, update_time, department, rendering_num
  </sql>
  <sql id="where-all-condition">
    <if test="customer_source != null and customer_source!= ''"  >
      and customer_source = #{customerSource}
    </if>
    <!--<if test="f.department != null  and f.department!= ''" >
      and  department like concat(concat('%', #{f.department}),'%')
    </if>-->
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dms_child_project
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dms_child_project
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.visionbuilding.manage.modle.entity.DmsChildProject" >
    insert into dms_child_project (id, parent_id, project_type_code, 
      project_type_name, acquisition_date, construction_area, 
      initial_delivery_date, cost_price, total_cost, total_sales_price,
      drafting_unit, designer_commission, designer_commission_price, 
      confirm_status, confirm_time, remarks, 
      status, add_user, add_time, 
      update_user, update_time, department, 
      rendering_num)
    values (#{id}, #{parentId}, #{projectTypeCode}, 
      #{projectTypeName}, #{acquisitionDate}, #{constructionArea}, 
      #{initialDeliveryDate}, #{costPrice}, #{totalCost}, #{totalSalesPrice},
      #{draftingUnit}, #{designerCommission}, #{designerCommissionPrice}, 
      #{confirmStatus,jdbcType=TINYINT}, #{confirmTime}, #{remarks}, 
      #{status,jdbcType=TINYINT}, #{addUser}, #{addTime}, 
      #{updateUser}, #{updateTime}, #{department}, 
      #{renderingNum})
  </insert>
  <insert id="insertSelective" parameterType="com.visionbuilding.manage.modle.entity.DmsChildProject" >
    insert into dms_child_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="projectTypeCode != null" >
        project_type_code,
      </if>
      <if test="projectTypeName != null" >
        project_type_name,
      </if>
      <if test="acquisitionDate != null" >
        acquisition_date,
      </if>
      <if test="constructionArea != null" >
        construction_area,
      </if>
      <if test="initialDeliveryDate != null" >
        initial_delivery_date,
      </if>
      <if test="costPrice != null" >
        cost_price,
      </if>
      <if test="totalCost != null" >
        total_cost,
      </if>
      <if test="totalSalesPrice != null" >
        total_sales_price,
      </if>
      <if test="draftingUnit != null" >
        drafting_unit,
      </if>
      <if test="designerCommission != null" >
        designer_commission,
      </if>
      <if test="designerCommissionPrice != null" >
        designer_commission_price,
      </if>
      <if test="confirmStatus != null" >
        confirm_status,
      </if>
      <if test="confirmTime != null" >
        confirm_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="addUser != null" >
        add_user,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="renderingNum != null" >
        rendering_num,
      </if>
      <if test="designer != null" >
        designer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="parentId != null" >
        #{parentId},
      </if>
      <if test="projectTypeCode != null" >
        #{projectTypeCode},
      </if>
      <if test="projectTypeName != null" >
        #{projectTypeName},
      </if>
      <if test="acquisitionDate != null" >
        #{acquisitionDate},
      </if>
      <if test="constructionArea != null" >
        #{constructionArea},
      </if>
      <if test="initialDeliveryDate != null" >
        #{initialDeliveryDate},
      </if>
      <if test="costPrice != null" >
        #{costPrice},
      </if>
      <if test="totalCost != null" >
        #{totalCost},
      </if>
      <if test="totalSalesPrice != null" >
        #{totalSalesPrice},
      </if>
      <if test="draftingUnit != null" >
        #{draftingUnit},
      </if>
      <if test="designerCommission != null" >
        #{designerCommission},
      </if>
      <if test="designerCommissionPrice != null" >
        #{designerCommissionPrice},
      </if>
      <if test="confirmStatus != null" >
        #{confirmStatus,jdbcType=TINYINT},
      </if>
      <if test="confirmTime != null" >
        #{confirmTime},
      </if>
      <if test="remarks != null" >
        #{remarks},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="addUser != null" >
        #{addUser},
      </if>
      <if test="addTime != null" >
        #{addTime},
      </if>
      <if test="updateUser != null" >
        #{updateUser},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="department != null" >
        #{department},
      </if>
      <if test="renderingNum != null" >
        #{renderingNum},
      </if>
      <if test="designer != null" >
        #{designer},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.visionbuilding.manage.modle.entity.DmsChildProject" >
    update dms_child_project
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId},
      </if>
      <if test="projectTypeCode != null" >
        project_type_code = #{projectTypeCode},
      </if>
      <if test="projectTypeName != null" >
        project_type_name = #{projectTypeName},
      </if>
      <if test="acquisitionDate != null" >
        acquisition_date = #{acquisitionDate},
      </if>
      <if test="constructionArea != null" >
        construction_area = #{constructionArea},
      </if>
      <if test="initialDeliveryDate != null" >
        initial_delivery_date = #{initialDeliveryDate},
      </if>
      <if test="costPrice != null" >
        cost_price = #{costPrice},
      </if>
      <if test="totalCost != null" >
        total_cost = #{totalCost},
      </if>
      <if test="totalSalesPrice != null" >
        total_sales_price = #{totalSalesPrice},
      </if>
      <if test="draftingUnit != null" >
        drafting_unit = #{draftingUnit},
      </if>
      <if test="designerCommission != null" >
        designer_commission = #{designerCommission},
      </if>
      <if test="designerCommissionPrice != null" >
        designer_commission_price = #{designerCommissionPrice},
      </if>
      <if test="confirmStatus != null" >
        confirm_status = #{confirmStatus,jdbcType=TINYINT},
      </if>
      <if test="confirmTime != null" >
        confirm_time = #{confirmTime},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="addUser != null" >
        add_user = #{addUser},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="department != null" >
        department = #{department},
      </if>
      <if test="renderingNum != null" >
        rendering_num = #{renderingNum},
      </if>
      <if test="designer != null and designer != ''" >
        designer = #{designer},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.visionbuilding.manage.modle.entity.DmsChildProject" >
    update dms_child_project
    set parent_id = #{parentId},
      project_type_code = #{projectTypeCode},
      project_type_name = #{projectTypeName},
      acquisition_date = #{acquisitionDate},
      construction_area = #{constructionArea},
      initial_delivery_date = #{initialDeliveryDate},
      cost_price = #{costPrice},
      total_cost = #{totalCost},
      total_sales_price = #{totalSalesPrice},
      drafting_unit = #{draftingUnit},
      designer_commission = #{designerCommission},
      designer_commission_price = #{designerCommissionPrice},
      confirm_status = #{confirmStatus,jdbcType=TINYINT},
      confirm_time = #{confirmTime},
      remarks = #{remarks},
      status = #{status,jdbcType=TINYINT},
      add_user = #{addUser},
      add_time = #{addTime},
      update_user = #{updateUser},
      update_time = #{updateTime},
      department = #{department},
      rendering_num = #{renderingNum}
    where id = #{id}
  </update>
  <update id="updateStatusById" parameterType="com.visionbuilding.manage.modle.entity.DmsChildProject">
    update dms_child_project
    <set >
      <if test="confirmStatus != null" >
        confirm_status = #{confirmStatus,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="querySubPage" resultType="com.visionbuilding.manage.modle.entity.DmsChildProject">
-- 1.根据前端传的父级code去大项目表查销售面积,销售单价. 同时根据父级code在自子项目表查到父级code是该父级code的
    select dcp.id, dcp.parent_id as parentId, dcp.project_type_code as projectTypeCode, dcp.project_type_name as projectTypeName,
     dcp.total_sales_price as totalSalesPrice, dcp.acquisition_date as acquisitionDate, dcp.remarks, dcp.confirm_status as confirmStatus,
    dmp.sales_area as salesArea, dmp.unit_price as unitPrice, dmp.project_creation_time as projectCreationTime
    from dms_child_project dcp, dms_main_project dmp
    where dcp.parent_id = dmp.id
    <if test="f.parentId != null and f.parentId!= ''"  >
      and dmp.id = #{f.parentId}
    </if>
    <if test="f.projectTypeName != null and f.projectTypeName!= ''"  >
      and dcp.project_type_name = #{f.projectTypeName}
    </if>
    <if test="f.confirmStatus != null">
        <if test='f.confirmStatus == "0"'>
            and dcp.confirm_status = #{f.confirmStatus}
        </if>
        <if test='f.confirmStatus == "123"'>
            and dcp.confirm_status in ('1','2','3')
        </if>
    </if>
    order by dcp.id desc
    limit #{startPage},${pageRows}
  </select>
  <select id="queryPageCount" resultType="java.lang.Integer">
    select  count(1)
    from dms_child_project where 1=1
    <if test="f.parentId != null and f.parentId!= ''"  >
      and parent_id = #{f.parentId}
    </if>
    <if test="f.projectTypeName != null and f.projectTypeName!= ''"  >
      and project_type_name = #{f.projectTypeName}
    </if>
<!--    <include refid = "where-all-condition" />-->
  </select>
</mapper>