<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.visionbuilding.manage.dao.mapper.DmsDepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.visionbuilding.manage.modle.entity.DmsDepartment" >
    <id column="id" property="id"  />
    <result column="code" property="code"  />
    <result column="department" property="department"  />
  </resultMap>
  <sql id="Base_Column_List" >
    dms_department.id, dms_department.code,dms_department.department
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dms_department
    where id = #{id}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dms_department
    where id = #{id}
  </delete>



  <insert id="insertSelective" parameterType="com.visionbuilding.manage.modle.entity.DmsDepartment" >
    insert into dms_department (
          id,
          code,
          department
        )
        VALUES(
          #{id},
          #{code},
          #{department}
        )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.visionbuilding.manage.modle.entity.DmsDepartment" >
    update dms_department
    <set >
      id = #{id}
      <if test="code != null" >
        ,code = #{code}
      </if>
      <if test="department != null" >
        ,department = #{department}
      </if>
    </set>
    where id = #{id}
  </update>

  <sql id="where-all-condition">
    <if test="f.code != null and f.code!= ''"  >
      and code = #{code}
    </if>
    <if test="f.department != null  and f.department!= ''" >
      and  department like concat(concat('%', #{f.department}),'%')
    </if>
  </sql>



  <select id="queryPage" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List"/>
    from dms_department where 1=1
    <include refid="where-all-condition"/>
    order by id desc
    limit #{startPage},${pageRows}
  </select>

  <select id="queryPageCount" resultType="java.lang.Integer">
    select  count(1)
    from dms_department where 1=1
    <include refid = "where-all-condition" />
  </select>

</mapper>