<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.visionbuilding.manage.dao.mapper.DmsProjectLogMapper" >
  <resultMap id="BaseResultMap" type="com.visionbuilding.manage.modle.entity.DmsProjectLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="old_value" property="oldValue" jdbcType="VARCHAR" />
    <result column="new_value" property="newValue" jdbcType="VARCHAR" />
    <result column="user" property="user" jdbcType="BIGINT" />
    <result column="edite_time" property="editeTime" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, old_value, new_value, user,edite_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dms_project_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dms_project_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.visionbuilding.manage.modle.entity.DmsProjectLog" >
    insert into dms_project_log (id, type, old_value, 
      new_value, user,edite_time)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{oldValue,jdbcType=VARCHAR}, 
      #{newValue,jdbcType=VARCHAR}, #{user,jdbcType=BIGINT},now())
  </insert>
  <insert id="insertSelective" parameterType="com.visionbuilding.manage.modle.entity.DmsProjectLog" >
    insert into dms_project_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="oldValue != null" >
        old_value,
      </if>
      <if test="newValue != null" >
        new_value,
      </if>
      <if test="user != null" >
        user,
      </if>
      <if test="editeTime != null">
        edite_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="oldValue != null" >
        #{oldValue,jdbcType=VARCHAR},
      </if>
      <if test="newValue != null" >
        #{newValue,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        #{user,jdbcType=BIGINT},
      </if>
      <if test="editeTime != null">
        #{editeTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.visionbuilding.manage.modle.entity.DmsProjectLog" >
    update dms_project_log
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="oldValue != null" >
        old_value = #{oldValue,jdbcType=VARCHAR},
      </if>
      <if test="newValue != null" >
        new_value = #{newValue,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        user = #{user,jdbcType=BIGINT},
      </if>
      <if test="editeTime != null">
        #edite_time = {editeTime},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.visionbuilding.manage.modle.entity.DmsProjectLog" >
    update dms_project_log
    set type = #{type,jdbcType=VARCHAR},
      old_value = #{oldValue,jdbcType=VARCHAR},
      new_value = #{newValue,jdbcType=VARCHAR},
      user = #{user,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryByPage" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List"/>
    from dms_project_log where 1=1
    <include refid="where-all-condition"/>
    order by id desc
    limit #{startPage},${pageRows}
  </select>

  <select id="queryByPageCount" resultType="java.lang.Integer">
    select  count(1)
    from dms_project_log where 1=1
    <include refid = "where-all-condition" />
  </select>
  <sql id="where-all-condition">
    <if test="f.type != null" >
      and `type` = #{f.type}
    </if>
    <if test="f.startTime != null">
        and edite_time &gt;= #{f.startTime}
    </if>
    <if test="f.endTime != null">
        and edite_time &lt;= #{f.endTime}
    </if>
  </sql>
</mapper>