<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.visionbuilding.manage.dao.mapper.DmsUserRoleMapper" >
    <resultMap id="BaseResultMap" type="com.visionbuilding.manage.modle.entity.DmsUserRole" >
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, user_id, role_id
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from dms_user_role
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from dms_user_role
        where id = #{id}
    </delete>
    <delete id="delByUserId">
        delete from dms_user_role where user_id = #{userId}
    </delete>
    <insert id="insert" parameterType="com.visionbuilding.manage.modle.entity.DmsUserRole" >
        insert into dms_user_role (id, user_id, role_id)
        values (#{id}, #{userId}, #{roleId})
    </insert>
    <insert id="insertSelective" parameterType="com.visionbuilding.manage.modle.entity.DmsUserRole" >
        insert into dms_user_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="roleId != null" >
                role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="userId != null" >
                #{userId},
            </if>
            <if test="roleId != null" >
                #{roleId},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.visionbuilding.manage.modle.entity.DmsUserRole" >
        update dms_user_role
        <set >
            <if test="userId != null" >
                user_id = #{userId},
            </if>
            <if test="roleId != null" >
                role_id = #{roleId},
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="saveBatch" parameterType="java.util.List">
        <foreach collection="list" item="userRole" index="index"
                 separator="">
            insert into dms_user_role
            (id,role_id,user_id) values
            (#{userRole.id},#{userRole.roleId},#{userRole.userId});
        </foreach>
    </insert>
</mapper>